*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #172532;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerElement{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 20px;
    color: white;
    margin-left: 20px;  
    gap: 10px;
}
/* .sidebar{
    display: none;
} */
.sidebarIcon{
    width: 30px;
    height: 30px;
    margin-top: 8px;
    display: none;
    cursor: pointer;
}
.icon{
    width: 50px;
    height: 50px;
    color: red;
}
/* .heading{
    background: conic-gradient(red, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
 .bottons{
    display: flex;
    align-items: center;
    gap: 15px;
 }
.logoutbtn{
    background-color: rgb(233, 53, 89);
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    color: white;
    gap: 5px;
}
.logoutbtn:hover{
    cursor: pointer;
    background-color: red;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width : 768px){
    .sidebarIcon{
        display: inline-block;
    }
    .headerElement{
        margin-left: 5px;
    }
}
