*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    /* display: flex; */
    height: calc(100vh - 60px);
    width: calc(100vw - 200px);
    background-color: rgb(233, 233, 233);
    overflow-y: scroll;
}

.graphSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.card{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}