*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    display: flex;
    width: 100%;
}
.sidebar{
    display: none;
}

.Mobile{
    display: none;
}
@media (max-width: 768px){
    .sidebar{
        display: block;
    }
    .Desktop{
        display: none;
    }
}