*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mobileSidebar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.openSidebar{
    transform: translateX(0);

}